[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langserve = "*"
langchain-cli = "*"
fastapi = "*"
langchain = "*"
openai = "*"
anthropic = "*"
langchain-community = "*"
langchain-anthropic = "*"
langchain-openai = "*"

[dev-packages]

[requires]
python_version = "3.12"
